<footer class="site-footer">
    <div class="container">
        <div class="social-links">
            <ul class="icons">
                <li><a href="https://scholar.google.com/citations?user=aofUOUMAAAAJ&hl=en&oi=ao"
                        class="icon brands fa-google"><span class="label">Google Scholar</span></a></li>
                <li><a href="https://www.researchgate.net/profile/Mario-Sandoval-Molina"
                        class="icon brands fa-researchgate"><span class="label">Researchgate</span></a></li>
                <li><a href="https://www.linkedin.com/in/mariosandovalm/" class="icon brands fa-linkedin-in"><span
                            class="label">Linkedin</span></a></li>
                <li><a href="https://bsky.app/profile/msandoval-ecology.bsky.social" target="_blank" class="icon"><i
                            class="fas fa-cloud"></i><span class="label">BlueSky</span></a></li>
                <li><a href="https://github.com/{{ site.github_username| escape }}" class="icon brands fa-github"><span
                            class="label">GitHub</span></a></li>
            </ul>
        </div>
        <div class="footer-col-wrapper">
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}. {{ site.description | escape }}</p>
        </div>
    </div>
</footer>